body{
    font-family: dana,iranyekan;
    background-color: $color-white-pure;
    font-size: 15px;
    font-weight: 400;
    color: $color-gray-secondary;
    position: relative;
}

.header{
    width: 100%;
    height: 100vh;
}

.service-content-slider{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    // flex-wrap: wrap;
    margin: 50px auto;
    width: 100%;
}

.taspi-features{
    width: 85%;
    margin: 0 auto;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}